!.env.example
!apps/Api/.editorconfig
**/*.tsbuildinfo
**/.turbo
**/coverage/
**/dist
**/node_modules
**/playwright-report/
*.md
.DS_Store
.editorconfig
.env
.env.*
.git
.gitattributes
.github
.gitignore
.hadolint.yaml
.idea
.vscode
apps/Api/**/bin/
apps/Api/**/obj/
apps/Api/test-results/
apps/Api/tests/
apps/api/src/__tests__/
apps/api/test-results/
apps/Gateway/**/bin/
apps/Gateway/**/obj/
apps/web/e2e/
apps/web/test-results/
docker-compose*.yml
infra/
LICENSE
Makefile
node_modules
Thumbs.db
