node_modules
**/node_modules

**/dist
**/.turbo
**/*.tsbuildinfo

**/coverage/
apps/web/test-results/
apps/api/test-results/
**/playwright-report/
apps/web/e2e/
apps/api/src/__tests__/

.env
.env.*
!.env.example

.git
.gitignore
.gitattributes

.vscode
.idea
.editorconfig
.DS_Store
Thumbs.db

.github
.hadolint.yaml

infra/
docker-compose*.yml
Makefile

*.md
LICENSE
