POSTGRES_HOST=localhost
POSTGRES_USER=testcraft
POSTGRES_PASSWORD=changeme
POSTGRES_DB=testcraft_db
POSTGRES_PORT=5432
GRAFANA_ADMIN_PASSWORD=changeme
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=changeme
RABBITMQ_URL=amqp://guest:guest@localhost:5672
