!.env.example
!.github/actions/*/dist/
**/.terraform/
*.log
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tsbuildinfo
*.user
.env
.env.*
infrastructure/image-versions.env
infrastructure/keycloak/realm.json
.eslintcache
.gitlab-ci-local-variables.yml
.gitlab-ci-local/
.idea/
.nuget/
.pnpm-store/
.secrets
.stylelintcache
.turbo/
.vite/
.vscode/
e2e/tests/.auth/
bin/
coverage/
dist/
e2e-results/
infrastructure/gateway/tls/
infrastructure/helm/testcraft/charts/
infrastructure/helm/testcraft/values.secrets.yaml
node_modules/
obj/
packages/*/dist/
packages/types/src/generated/
playwright-report/
terraform.tfvars
test-results/
TestResults/
