GITHUB_TOKEN=gh_pat_token

# TESTCRAFT_KEYCLOAK_AUTHORITY=http://localhost:8080/realms/testcraft
# TESTCRAFT_API_URL=http://localhost:5000
TESTCRAFT_KEYCLOAK_AUTHORITY=https://testcraft.dev:8443/realms/testcraft
TESTCRAFT_API_URL=https://testcraft.dev

TESTCRAFT_USERNAME=e2e@testcraft.dev
TESTCRAFT_PASSWORD=e2e
