tls:
  acmeEmail: "you@testcraft.pro"

secrets:
  postgresUser: ""
  postgresPassword: ""
  postgresDb: ""
  postgresAppPassword: ""
  postgresKeycloakPassword: ""
  postgresMonitorPassword: ""
  redisPassword: ""
  rabbitmqUser: ""
  rabbitmqPassword: ""
  corsAllowedOrigins: "https://testcraft.pro"
  metricsToken: ""
  swaggerBasicAuthUsername: ""
  swaggerBasicAuthPassword: ""
  minioRootUser: ""
  minioRootPassword: ""
  minioBucket: "testcraft"
  minioPublicEndpoint: "testcraft.pro"
  grafanaAdminPassword: ""
  seqAdminPassword: ""
  keycloakAdmin: "admin"
  keycloakAdminPassword: ""
  keycloakAdminClientSecret: ""
  githubClientId: ""
  githubClientSecret: ""
  smtpHost: ""
  smtpPort: "587"
  smtpUser: ""
  smtpPassword: ""
  smtpFromAddress: ""
  alertEmailTo: ""
