tls:
  acmeEmail: "you@testcraft.pro"

secrets:
  postgresUser: ""
  postgresPassword: ""
  postgresDb: ""
  postgresExporterDsn: "postgresql://user:password@postgres:5432/db?sslmode=disable"
  rabbitmqUser: ""
  rabbitmqPassword: ""
  corsAllowedOrigins: "https://testcraft.pro"
  metricsToken: ""
  swaggerBasicAuthUsername: ""
  swaggerBasicAuthPassword: ""
  minioRootUser: ""
  minioRootPassword: ""
  minioBucket: "testcraft"
  minioPublicEndpoint: "testcraft.pro"
  grafanaAdminPassword: ""
  keycloakAdmin: "admin"
  keycloakAdminPassword: ""
  githubClientId: ""
  githubClientSecret: ""
