keycloak_url            = "http://localhost:8080"
keycloak_admin_user     = "admin"
keycloak_admin_password = "admin"
web_url                 = "http://localhost:3000"
dev_user_password       = "dev"
